<div class="btn btn-success" *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false">
  <button class="btn btn-success" (click)="getCouponList()">Get Coupon List</button>

  </div><br><br>
<table border="1" [hidden]="!Issubmitted" class="table table-striped">
  <thead>
    <th>Coupon Id</th>
    <th>Coupon Name</th>
    <th>Coupon Description</th>
    <th>Coupon Type</th>
    <th>Coupon Pizza Id</th>
    
  
  </thead>
  <tbody>
    <tr *ngFor="let coupon of coupons" >
  <td>{{coupon.couponId}}</td>
  <td>{{coupon.couponName}}</td>
  <td>{{coupon.couponDescription}}</td>
  <td>{{coupon.couponType}}</td>
  <td>{{coupon.couponPizzaId}}</td>
   
  </tr>
  </tbody>

  </table>
  <div class="btn btn-info"*ngIf="this.isShow" (click)="this.isShow = true">
    <button type="button" class="btn btn-info" (click)="back()">Back</button> &nbsp; &nbsp;
  
    </div><br><br>

