<section id="home">
  <div class="container-fluid top-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <h1>Online Pizza Order<br> <span>Application</span></h1>
          <div class="mt-4">
            <button class="btn btn-info btn-lg" data-toggle="modal" (click)="Admin()" class="main-btn">Admin
              Login</button>&nbsp;

            <button class="main-btn" (click)="cust()">Customer Login </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-commonmodel [(visible)]="showDialog1" title="Admin Login" (onClose)="closePopup()">
  <form>
    <div class="modal-body">
      <div class="input-container">
        <div style="color: red;"  *ngIf="valid">Please fill all mandatory fields</div>
        <span id="asterisk">*</span><input type="text" [(ngModel)]="adminName" name="adminName" class="form-control validate"
          placeholder="&#xf007;  Enter AdminName" style="font-family:Arial, FontAwesome" required> <br>
      </div>
      <div class="input-container">
        <span id="asterisk">*</span><input type="text" [(ngModel)]="adminPassword" name="adminPassword" placeholder="&#xf084;  Enter AdminPassword"
          class="form-control validate" style="font-family:Arial, FontAwesome" required><br>
      </div>
      <div class="input-container">
        <a href="register()">Sign Up</a>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="handleLogin()">Admin Login</button><br><br>
    </div>
  </form>
</app-commonmodel>

<!-- Customer Login -->
<app-commonmodel [(visible)]="showDialog2" title="User Login" (onClose)="closePopup()">
  <form>
    <div class="modal-body">
      <div class="input-container">
        <div style="color: red;"  *ngIf="valid">Please fill all mandatory fields</div>
      <span id="asterisk">*</span><input type="text" [(ngModel)]="userName" name="userName" class="form-control validate"
          placeholder="&#xf007;  Enter UserName" style="font-family:Arial, FontAwesome" required> <br>
      </div>
      <div class="input-container">
        <span id="asterisk">*</span> <input type="text" [(ngModel)]="userPassword" name="userPassword" placeholder="&#xf084;  Enter UserPassword"
          class="form-control validate" style="font-family:Arial, FontAwesome" required><br>
        <a style="float: left;"  href="customer()">Sign Up</a><br>


      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="handleUserLogin()">User Login</button><br><br>
    </div>
    

  </form>
</app-commonmodel>

