 <div class="btn btn-success" *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false">
  <button class="btn btn-success" (click)="getPizzaList()">Get Pizza List</button>

  </div><br><br>
<table border="1" [hidden]="!Issubmitted" class="table table-striped">
  <thead>
    <th>Pizza Id</th>
    <th>Pizza Name</th>
    <th>Pizza Description</th>
    <th>Pizza Cost</th>
    <th>Pizza Cost After Coupon</th>
    
  
  </thead>
  <tbody>
    <tr *ngFor="let pizza of pizzas" >
  <td>{{pizza.pizzaId}}</td>
  <td>{{pizza.pizzaName}}</td>
  <td>{{pizza.pizzaDescription}}</td>
  <td>{{pizza.pizzaCost}}</td>
  <td>{{pizza.pizzaCostAfterCoupon}}</td>
   
  </tr>
  </tbody>

  </table>
  <div class="btn btn-info"*ngIf="this.isShow" (click)="this.isShow = true">
    <button type="button" class="btn btn-info" (click)="back()">Back</button> &nbsp; &nbsp;
  
    </div><br><br>

