<!-- Enter orderDate:<input type="date" name="pizzaOrder.orderDate"
  [ngModel]="pizzaOrder.orderDate | date |date:'dd/MM/yyyy' " (ngModelChange)="pizzaOrder.orderDate=$event"><br><br>

Enter TransactionMode:<input type="text" name="pizzaOrder.transactionMode"
  [(ngModel)]="pizzaOrder.transactionMode"><br><br>

Enter Quantity:<input type="text" name="pizzaOrder.quantity" [(ngModel)]="pizzaOrder.quantity"><br><br>

Enter Size:<input type="text" name="pizzaOrder.size" [(ngModel)]="pizzaOrder.size"><br><br>

Enter TotalCost:<input type="text" name="pizzaOrder.totalCost" [(ngModel)]="pizzaOrder.totalCost"><br><br>

Enter couponId:<input type="text" name="couponId"[(ngModel)]="pizzaOrder.coupon.couponId"><br><br>

Enter customerId:<input type="text" name="customerId"[(ngModel)]="pizzaOrder.customer.customerId"><br><br>

Enter pizzaId:<input type="text" name="pizzaId"[(ngModel)]="pizzaOrder.pizza.pizzaId"><br><br>
<button type="submit" (click)="bookPizzaOrder()">Book Pizza</button> -->

<!-- PizzaId:
 <select class="dropdown" [(ngModel)]="pizzas.pizzaId">
  <option *ngFor="let a of pizzas" [value]="a.pizzaId">

    {{a.pizzaName}}
  </option>
</select>  -->

<!-- CouponId:<select class="dropdown" [(ngModel)]="coupons.couponId">
  <option *ngFor ="let a of coupons" [value]="a.couponId">
  {{a.couponName}}
  </option>
  </select><br><br> -->

<body>
  <div class="container">
    <div class="myCard">
      <div class="row">
        
        <div class="col-md-6">

          <div class="myLeftCtn">

            <button type="button" style='float: left;'(click)="close()" class="close" >&times;</button><br><br>


              <div class="form-group">

                <input class="myInput"  type="text" placeholder="CustomerId"  id="username" name="customerId"
                  [(ngModel)]="pizzaOrder.customer.customerId" required>                
                 
              </div><br>

              <div class="form-group">
                 <select class="myInput"  [(ngModel)]="pizzaOrder.pizza.pizzaId">
                   
                    <option value="" disabled selected>Select your Pizza</option>


                    <option *ngFor="let a of pizzas" [value]="a.pizzaId">
                  
                      {{a.pizzaName}}
                    </option>
                  </select>
              </div><br>

     

              <div class="form-group">

                <input class="myInput" type="text" name="pizzaOrder.size" [(ngModel)]="pizzaOrder.size"
                  placeholder="Size" required>
              </div><br>

              <div class="form-group">

                <input class="myInput" cname="pizzaOrder.quantity" [(ngModel)]="pizzaOrder.quantity"
                  placeholder="Quantity" type="text" required>
              </div><br>

              <div class="form-group">

                <input class="myInput" name="pizzaOrder.transactionMode" [(ngModel)]="pizzaOrder.transactionMode"
                  type="text" placeholder="TransactionMode" required>
              </div><br>
              <div class="form-group">

                <input class="myInput"name="pizzaOrder.totalCost" [(ngModel)]="pizzaOrder.totalCost"
                  type="text" placeholder="TotalCost" required>
              </div><br>
              <div class="form-group">

                <input type="date" class="myInput" name="pizzaOrder.orderDate"
                  [ngModel]="pizzaOrder.orderDate | date |date:'dd/MM/yyyy' "
                  (ngModelChange)="pizzaOrder.orderDate=$event" required> <br><br>
                  <div *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false">
                    <input class="butt " type="submit" (click)="viewselect()" value="Add Coupon ">
                    </div>
                </div> <br>
              
              <div class="form-group">
               
                <select *ngIf="showTextBox" class="myInput"  [(ngModel)]="pizzaOrder.coupon.couponId" >
                 
                  <option value="" disabled selected>Select your Coupon</option>


                  <option *ngFor="let a of coupons" [value]="a.couponId">
                
                    {{a.couponName}}
                  </option>
                </select>
            </div><br>
              <input type="submit"  (click)="bookPizzaOrder()" class="butt" value="Book Order">


          </div>
        </div>
        <div class="col-md-6">
          <div class="myRightCtn">

            <div class="box">
              <header><marquee>Online Pizza Order!</marquee></header>
              <b><i><span style="color: black;font-family: 'Lucida Sans';">Being slim sounds nice, but have you ever heard about PIZZA?
              </span></i> </b>

           
              <!-- <input type="button" class="butt_out" value="Learn More" /> -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
